.footer {
  width: 100%;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: white;
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.socialIcon {
  margin: 0 1rem;
  color: white;
  transition: color 0.3s ease;
}

.socialIcon:hover {
  color: #20C6B7;
}

.copyright {
  font-size: 0.7rem;
  font-family: 'Press Start 2P', cursive;
  color: #888;
}