.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
    background: linear-gradient(45deg, #20C6B7, #4D9ABF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }